<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fruitsalesplatform.mapper.RetailerMapper">
    
    <!--resultMap 映射-->
    <resultMap id="retailerRM" type="com.fruitsalesplatform.entity.Retailer">
        <id property="retailerId" column="retailerid" jdbcType="VARCHAR"></id>
        <result property="name" column="name"/>
        <result property="telephone" column="telephone"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createtime"/>
    </resultMap>

    <!--查询一个数据-->
    <select id="get" parameterType="string" resultMap="retailerRM">
        SELECT * FROM RETAILER WHERE retailerid=#{retailerid}
    </select>

    <!--sql 片段-->
    <sql id="query_retailer_where">
        <if test="name != null"> AND NAME LIKE #{NAME}</if>
        <if test="address != null"> AND address LIKE #{address}</if>
        <if test="status != null"> AND status = #{status}</if>
        <if test="telephone != null"> AND telephone = #{telephone}</if>
        <if test="createTime != null"> AND createTime = DATE_FORMAT(#{address}, '%Y-%m-%d %H:%i:%s')</if>
    </sql>

    <!--参数是 map 的查询-->
    <select id="find" parameterType="java.util.HashMap" resultMap="retailerRM">
        SELECT * FROM RETAILER
        WHERE 1=1
        <!--引入 sql 片段-->
        <include refid="query_retailer_where"></include>
        <!--分页 LIMIT -->
        <if test="startPage != null and pageSize != null">LIMIT #{startPage},#{pageSize}</if>
    </select>

    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM RETAILER
        WHERE 1=1
        <include refid="query_retailer_where"></include>
    </select>

    <insert id="insert" parameterType="retailer">
        INSERT INTO RETAILER
        (retailerid, name, telephone, address, status, createtime)
        VALUES
        (
          #{retailerId,jdbcType=VARCHAR},
          #{name,jdbcType=VARCHAR},
          #{telephone,jdbcType=VARCHAR},
          #{address,jdbcType=VARCHAR},
          #{createTime,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.fruitsalesplatform.entity.Retailer">
        UPDATE RETAILER
        <set>
            <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
            <if test="address != null">address=#{address,jdbcType=VARCHAR},</if>
            <if test="telephone != null">telephone=#{telephone,jdbcType=VARCHAR}</if>
        </set>
    </update>

    <delete id="deleteById" parameterType="string">
        DELETE FROM RETAILER
        WHERE retailerid=#{retailerid}
    </delete>

    <select id="findUserByName" parameterType="java.lang.String"
            resultType="com.fruitsalesplatform.entity.Retailer">
        SELECT * FROM RETAILER WHERE name LIKE '%${value}%'
    </select>
</mapper>