<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fruitsalesplatform.test.mapper.UserMapper">
    <select id="findUserByName" parameterType="java.lang.String"
            resultType="com.fruitsalesplatform.test.entity.User">
        SELECT * FROM USER WHERE name LIKE #{name}
    </select>
</mapper>