<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!--加载用于数据库配置的属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <property name="maxPoolSize" value="${c3p0.pool.maxPoolSize}"/>
        <property name="minPoolSize" value="${c3p0.pool.minPoolSize}"/>
        <property name="initialPoolSize" value="${c3p0.pool.initialPoolSize}"/>
        <property name="acquireIncrement" value="${c3p0.pool.acquireIncrement}"/>
    </bean>

    <!--SessionFactory-->
    <bean id="sessionFactory" name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--整合 MyBatis，包扫描 Mapper 文件-->
        <property name="configLocation" value="mybatis/SqlMapConfig.xml"/>

        <!--&lt;!&ndash;扫描 mapper 配置文件的路径&ndash;&gt;-->
        <!--<property name="mapperLocations" value="classpath:com/fruitsalesplatform/*/mapper/*.xml"/>-->
    </bean>

    <!--UserDaoImpl 要获取 sqlSessionFactory 对象，还需要在这里添加依赖配置，这样需要的 sqlSessionFactory 才会被注入进去-->
    <bean id="userDao" class="com.zsx.sm.dao.UserDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"/>
    </bean>

    <!--Spring 的 Mapper 扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定扫描的包名，如果有多个，用逗号分隔-->
        <property name="basePackage" value="com.zsx.sm.mapper"/>
    </bean>

</beans>